@model IEnumerable<REFund.Models.Request>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @*<input id="requestID" name="requestID" type="hidden" asp-for="Id" />*@
    <input id="empID" name="empID" type="hidden"  />
    <label style="font-size: 24px; margin-top: 50px; margin-left: 10px; font-weight: 700; line-height: 0.5; color: #3383AF; ">My Approve</label>
    <div class="col" style=" margin-top: 10px;">
        <table class="table table-bordered" id="tblMyRequest" style="font-size: 12px; margin-top: 40px; font-weight: 400; line-height: 0.5; border-color: #3383AF;">
            <thead>
                <tr>
                    <th style="background-color: #3383AF; color: white; width: 13%;">ID</th>
                    <th style="background-color: #3383AF; color: white; width: 45%;">Request</th>
                    <th style="background-color: #3383AF; color: white; width: 15%; text-align: center;">Employee</th>
                    <th style="background-color: #3383AF; color: white; width: 15%; text-align: center;">Date</th>
                    <th style="background-color: #3383AF; color: white; width: 12%; text-align: center;">Status</th>
                </tr>
            </thead>
            <tbody>ร
                @{foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align: center; vertical-align: middle; ">
                                <a href="/Request/Edit?id=@item.Id" target="_blank">@item.RequestNumber</a>
                            </td>
                            <td style="vertical-align: middle; ">@item.Category.CategoryName</td>
                            <td style="text-align: center; vertical-align: middle; ">@item.EmployeeId</td>
                            <td style="text-align: center; vertical-align: middle; ">@item.CreateAt</td>
                            <td style="text-align: center; vertical-align: middle; ">
                                <label style="background-color: @item.Workflow.Status.BackgroundColor; color:@item.Workflow.Status.FontColor; border-radius: 8px; padding: 6px 6px; display: inline-flex; align-items: center; font-size: 14px; font-weight: 700; ">
                                    <label style="background-color: @item.Workflow.Status.FontColor; border-radius: 8px; padding: 4px 4px; margin-top: 6px; "></label>&nbsp;&nbsp;@item.Workflow.Status.StatusName
                                </label>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
        $(document).ready(function () {
            $('#tblMyRequest').dataTable({
                "pageLength": 10,
                "lengthMenu": [10, 20, 50, 75, 100], // ตัวเลือกใน Show entries
                "lengthChange": true // แสดง dropdown เลือกจำนวน entries
            });


        });

    /* sidebar */
    const body = document.querySelector('body');
    const sidebar = document.getElementById("navtag");
    const toggle = body.querySelector(".toggle");

    toggle.addEventListener("click", () => {
        console.log("Toggle button clicked!");
        toggle.classList.toggle('rotate');
        sidebar.classList.toggle("close");
    });


</script>
