@{
    ViewData["Title"] = "Login Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0" />*@
    <title>@ViewData["Title"] - iBenefit</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
        <script src="https://cdn.jsdelivr.net/npm/number-to-words"></script>*@
    @*@RenderSection("Scripts", required: false)*@
</head>
<body>
    <div class="row" style="height: 450px; background-color: white; ">
        <div class="container text-center" style="background-color: white; ">
            <div class="row align-items-center">
                <div class="col">
                </div>
                <div class="col">
                    <div class="row">
                        <div class="Rectangle2" style="width: 355px; height: 300px; top: 110px; position: absolute; background: white; border: 0.50px #3383AF solid"></div>
                        <div class="Rectangle3" style="width: 355px; height: 65px; top: 110px; position: absolute; background: #123142 "></div>
                        <div class="Group1" style="width: 321px; height: 303px;  top: 152px; position: absolute">
                            <div class="row">
                                <div class="col">
                                    <div style="left: 73px; top: 45px; position: absolute; color: black; font-size: 11px;  font-weight: 300; word-wrap: break-word"><span id="txtID" name="txtID"></span></div>

                                    <div class="Rectangle6" style="width: 45px; height: 37px; left: 75px; top: 64px; position: absolute; background: #F3F3F3"></div>
                                    <div style="width: 202px; height: 37px; left: 110px; top: 64px; position: absolute; line-height: 1; text-align: left; ">
                                        <input class="form-control" type="text" id="employeeInput" onfocus="togglePlaceholder(true)" onblur="togglePlaceholder(false)" oninput="checkInput()" style="width: 180px; height: 37px; left: 80px; top: 180px; background: #D9D9D9; border-radius: 0;">
                                        <div class="placeholderID" id="placeholderId" style="width: 100px; color: black; height: 37px; left: 10px; top: 10px; position: absolute; line-height: 1; text-align: left; ">
                                            <span id="txtInputEmp" name="txtInputEmp" style="color: black; font-size: 15px; font-family: Rationale; font-weight: 400; text-align: left; "> <br /></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div style="left: 73px; top: 119px; position: absolute; color: black; font-size: 11px;  font-weight: 300; word-wrap: break-word"><span id="txtPassword" name="txtPassword"></span></div>

                                    <div class="Rectangle7" style="width: 35px; height: 37px; left: 75px; top: 139px; position: absolute; background: #F3F3F3 "></div>
                                    <div style="width: 202px; height: 37px; left: 30px;  position: absolute; line-height: 1; text-align: left; ">
                                        <input class=" form-control" type="password" id="passwordInput" onfocus="togglePlaceholder2(true)" onblur="togglePlaceholder2(false)" style="width: 180px; height: 37px; left: 80px; top: 139px; position: absolute; background: #D9D9D9; border-radius: 0; ">
                                        <div class="Password" id="placeholderpassword" style="width: 100px; height: 37px; left: 90px; top: 150px; position: absolute; line-height: 1; text-align: left; ">
                                            <span id="txtInputPassword" name="txtInputPassword" style="color: black; font-size: 15px; font-family: Rationale; left: 37px; font-weight: 400;  text-align: left;"><br /></span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn " id="btnLoginID" name="btnLoginID" style="width: 150px; height: 37px; left: 112px; top: 206px; position: absolute; background: #123142; color: white; font-size: 18px; font-family: Inter; font-weight: 700; word-wrap: break-word "><span id="txtbtnLoginID" name="txtbtnLoginID" style=" font-family: Inter;">เข้าสู่ระบบ</span></button>
                                    <button type="submit" class="btn " id="btnLoginDomain" name="btnLoginDomain" style="width: 150px; height: 37px; left: 112px; top: 206px; position: absolute; background: #123142; color: white; font-size: 18px; font-family: Inter; font-weight: 700; word-wrap: break-word "><span id="txtbtnLoginDomain" name="txtbtnLoginDomain" style=" font-family: Inter;">Login</span></button>                                
    @*<div class="Rectangle8" style="width: 150px; height: 37px; left: 106px; top: 206px; position: absolute; background: #3383AF"></div>
                                        <div style="left: 140px; top: 212px; position: absolute; color: white; font-size: 18px; font-family: Inter; font-weight: 700; word-wrap: break-word">เข้าสู่ระบบ</div>*@
                                </div>
                            </div>
                        </div>
                        <div class="Irefund" style="width: 231px; height: 61px; left: 68px; top: 115px; position: absolute;"><img style="width: 145px; height: 60px; " src="~/img/iBenefit3.png" /></div>
                        @*<div class="Irefund" style="width: 231px; height: 61px; left: 58px; top: 110px; position: absolute; color: white; font-size: 40px; font-family: Inter; font-weight: 700; word-wrap: break-word"> iREFund</div>*@
                        <img class="Image1" style="width: 49px; height: 25px; left: 65px; top: 220px; position: absolute" src="~/img/user (2).png" />
                        <img class="Image2" style="width: 47px; height: 23px; left: 65px; top: 297px; position: absolute" src="~/img/lock.png" />
                    </div>
                    @*<img class="Image3" style="width: 60px; height: 60px; left:258px;  position: absolute" src="https://via.placeholder.com/60x60" />*@
                </div>
                <div class="col">
                </div>
            </div>
        </div>
        <div class="row">
            <div class ="col-5"></div>
            <div class="col-5" align-items-center style="top:250px;">
                    <button type="submit" class="btn " id="btnChange" name="btnChange" style="width: 280px; height: 37px;  position: center; background: #123142; color: white; font-size: 16px; font-family: Inter; font-weight: 600; word-wrap: break-word "><span id="txtbtnChange" name="txtbtnChange"></span></button>
             </div>
        </div>
        
    </div>


</body>

</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>*@
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@*<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>*@
@*<link href="~/lib/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" />
    <script src="~/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>*@
<style>

    .placeholderID {
        width: 202px;
        height: 37px;
        left: 10px;
        top: 0px;
        position: absolute;
        line-height: 1;
        text-align: left;
        cursor: pointer; /* เพิ่ม cursor: pointer เพื่อให้เห็นว่าเป็นตัวคลิกได้ */
    }

        .placeholderID span {
            color: black;
            font-size: 13px;
            font-family: Rationale;
            font-weight: 400;
            word-wrap: break-word;
            text-align: left;
        }
</style>


<script type="text/javascript">
        $(document).ready(function () {
            $("#btnLoginDomain").hide();
            document.getElementById("txtbtnChange").innerHTML = "Login With Domain Name";
            document.getElementById("txtID").innerHTML = "กรุณาระบุรหัสพนักงานเพื่อเข้าสู่ระบบ";
            document.getElementById("txtPassword").innerHTML = "กรูณาระบุรหัสผ่านที่กำหนด";
            document.getElementById("txtInputEmp").innerHTML = "รหัสพนักงาน";
            document.getElementById("txtInputPassword").innerHTML = "รหัสผ่าน";
        });

        $(document).on('click', "#btnChange", function (e) {
            var txtDomain = document.getElementById("txtbtnChange");
            var valuetxtDomain = txtDomain.textContent;
            if (valuetxtDomain == "Login With Domain Name") {
                $("#btnLoginID").hide();
                $("#btnLoginDomain").show();
                /* console.log("dddd");*/
                document.getElementById("txtbtnChange").innerHTML = "Login With Employee ID";
                document.getElementById("txtID").innerHTML = "";
                document.getElementById("txtPassword").innerHTML = "";
                document.getElementById("txtInputEmp").innerHTML = "Domain Name";
                document.getElementById("txtInputPassword").innerHTML = "Password";
            } else {
                /* console.log("ccc");*/
                $("#btnLoginDomain").hide();
                $("#btnLoginID").show();
                document.getElementById("txtbtnChange").innerHTML = "Login With Domain Name";
                document.getElementById("txtID").innerHTML = "กรุณาระบุรหัสพนักงานเพื่อเข้าสู่ระบบ";
                document.getElementById("txtPassword").innerHTML = "กรูณาระบุรหัสผ่านที่กำหนด";
                document.getElementById("txtInputEmp").innerHTML = "รหัสพนักงาน";
                document.getElementById("txtInputPassword").innerHTML = "รหัสผ่าน";
            }


        });

        function togglePlaceholder(hasFocus) {
            var inputElement = document.getElementById("employeeInput");
            var placeholderElement = document.getElementById("placeholderId");

            if (hasFocus || inputElement.value !== "") {
                placeholderElement.style.display = "none";
            } else {
                placeholderElement.style.display = "block";
            }
        }
        function togglePlaceholder2(hasFocus) {
            var inputElement = document.getElementById("passwordInput");
            var placeholderElement = document.getElementById("placeholderpassword");

            if (hasFocus || inputElement.value !== "") {
                placeholderElement.style.display = "none";
            } else {
                placeholderElement.style.display = "block";
            }
        }

        function checkInput() {
            var inputElement = document.getElementById("employeeInput");
            var placeholderElement = document.getElementById("placeholderId");
            var inputpasswordElement = document.getElementById("passwordInput");
            var passwordElement = document.getElementById("placeholderpassword");

            if (inputElement.value === "") {
                placeholderElement.style.display = "block";
            } else {
                placeholderElement.style.display = "none";
            }

            if (inputpasswordElement.value === "") {
                passwordElement.style.display = "block";
            } else {
                passwordElement.style.display = "none";
            }
        }

        document.addEventListener("click", function (event) {
            var inputElement = document.getElementById("employeeInput");
            var placeholderElement = document.getElementById("placeholderId");
            var inputpasswordElement = document.getElementById("passwordInput");
            var passwordElement = document.getElementById("placeholderpassword");

            if (!inputElement.contains(event.target) && !placeholderElement.contains(event.target)) {
                togglePlaceholder(false);
            }
            if (!inputpasswordElement.contains(event.target) && !passwordElement.contains(event.target)) {
                togglePlaceholder2(false);
            }
        });

        document.getElementById("placeholderId").addEventListener("click", function () {
            var inputElement = document.getElementById("employeeInput");
            inputElement.focus();
            togglePlaceholder(true);
        });
        document.getElementById("placeholderpassword").addEventListener("click", function () {
            var inputpasswordElement = document.getElementById("passwordInput");
            inputpasswordElement.focus();
            togglePlaceholder2(true);
        });
        $("#btnLoginID").on("click", function (e) {
         
            var data = new FormData();
            data.append("username", $("#employeeInput").val());
            data.append("password", $("#passwordInput").val());

             $.ajax({
                    contentType: false,
                    processData: false,
                    type: "POST",
                    url: '@Url.Action("Login", "Login")',
                    data: data,
                 success: function (data) {
                     console.log(data);
                        setTimeout(function() {
                            // ในกรณีนี้คุณอาจต้องใช้ escape เครื่องหมาย " เพื่อให้ได้ URL ที่ถูกต้อง
                            window.location.href = '@Url.Action("Create", "Request")';
                        }, 1000);
                    },
                    error: function (err) {
                        $("#SubmitFormSpinn").addClass("d-none");
                        $("button[name=btnSubmit]").prop("disabled", false);
                    }
               });
        });
        $("#btnLoginDomain").on("click", function (e) {
           
            var dataDomain = new FormData();
            dataDomain.append("domain", $("#employeeInput").val());
            dataDomain.append("password", $("#passwordInput").val());
             $.ajax({
                    contentType: false,
                    processData: false,
                    type: "POST",
                    url: '@Url.Action("LoginDomain", "Login")',
                 data: dataDomain,
                    success: function (data) {
                        setTimeout(function() {
                            // ในกรณีนี้คุณอาจต้องใช้ escape เครื่องหมาย " เพื่อให้ได้ URL ที่ถูกต้อง
                            window.location.href = '@Url.Action("Create", "Request")';
                        }, 1000);
                    },
                    error: function (err) {
                        $("#SubmitFormSpinn").addClass("d-none");
                        $("button[name=btnSubmit]").prop("disabled", false);
                    }
               });
        });
</script>




